{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="post" action="{{ url_for('register') }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.name.label }}<br>
    {{ form.name(size=40) }}
  </div>
  <div>
    {{ form.email.label }}<br>
    {{ form.email(size=40) }}
  </div>
  <div>
    {{ form.password.label }}<br>
    {{ form.password(size=40) }}
  </div>
  <div>
    {{ form.confirm_password.label }}<br>
    {{ form.confirm_password(size=40) }}
  </div>
  <div>
    {{ form.submit() }}
  </div>
</form>
{% endblock %}
